// ======= about =========
.fluid-container_about {
  display: grid;
  grid-template-columns: auto, 1fr;
}
.about-left {
  grid-column: 1;
}
.about-right {
  grid-column: 2;
}
.about-icon {
  width: 50px;
  height: 50px;
  margin-bottom: 50px;
}
.about-title {
  margin: 0 30px;
}
.about-text {
  color: $textColor;
  @include font($ptSansFontFamily, rem(20px), 400);
}
.bold {
  font-weight: 700;
}
.italic {
  font-style: italic;
}
.button {
  color: $textColor;
  @include font($ptSansFontFamily, rem(20px), 400);
  font-style: italic;
  border: 1px solid $textColor;
  padding: 15px 50px;
  &_works {
    color: $white;
    border-color: $white;
    margin-top: 40px;
  }
}

// ======= services =====
.service-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr, auto, auto;
}
.our-services {
  grid-column: 1 / span 2;
}

.box-item {
  padding: 50px $mobilePadding;
  text-align: center;
  &__img {
    margin-bottom: 30px;
  }
  &__title {
    margin: 0;
    @include font($ptSansFontFamily, $h3FontSize, 700);
    color: $textColor;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  &__text {
    margin: 0;
    @include font($ptSansFontFamily, rem(18px), 400);
    color: $textColor;
    font-style: italic;
  }
}

// ====== works =====
.works-img {
  margin-bottom: 35px;
}
.works-title {
  margin: 0;
  @include font($proximaNovaFontFamily, $h2FontSize, 400);
  color: $textLightColor;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.slider-img {
  width: 100%;
}
.dots-box {
  list-style-type: none;
  margin: 0;
  padding: 0;
  @include flexRow;
  justify-content: center;
}
.dots-box li {
  margin-right: 6px;
  border-radius: 100%;
  font-size: 0;
  border: 1px solid $textLightColor;
}
.dots-box button {
  background: transparent;
  border: 0;
  border-radius: 100%;
  width: 8px;
  height: 8px;
  padding: 0;
  @include flexRow;
  justify-content: center;
  align-items: center;
}
.dots-box button:focus {
  outline: none;
}
.container_dots .slick-active {
  background: $textLightColor;
}

//====== team ======

.team-icon {
  margin-bottom: 35px;
}
.team-title {
  margin: 0;
  @include font($proximaNovaFontFamily, $h2FontSize, 400);
  color: $textColor;
  text-transform: uppercase;
}

.member {
  position: relative;
  text-align: center;
  margin-top: 140px;

  &__img {
    position: absolute;
    top: -110px;
    left: 34px;
    border: 10px solid $mainBgColor;
    border-radius: 100%;
    width: 220px;
  }
  &__info {
    width: 290px;
    padding-top: 150px;
    background: $white;
  }
  &__name {
    margin: 0;
    color: $teamMemberColor;
    @include font($proximaNovaFontFamily, $h3FontSize, 700);
    text-transform: uppercase;
    margin-bottom: 35px;
  }
  &__position {
    margin: 0;
    color: $textColor;
    @include font($ptSansFontFamily, $h3FontSize, 400);
    font-style: italic;
    padding-bottom: 35px;
  }
}
.social-box {
  width: 290px;
  background: $teamMemberColor;
  padding: 15px;
  @include e(icon) {
    width: 30px;
    height: 30px;
    margin-right: 12px;
    --icon-color: #ebebeb;
    --text-color: #9f9acf;
  }
}
.myarrow {
  position: absolute;
  top: 50%;
  width: 22px;
  height: 38px;
  z-index: 10;
  transition: all 1s ease-in;
  background: url(#{$imgPath}arrow-left.png) no-repeat;
  cursor: pointer;
  text-indent: -9999px;
}

.myarrow_prev {
  left: 0;
}
.myarrow_next {
  right: 0px;
  transform: rotate(180deg);
}

// ====== location ======

.location-icon {
  padding-top: 20px;
  margin-bottom: 25px;
}
.location-title {
  margin: 0;

  @include font($proximaNovaFontFamily, $h2FontSize, 400);
  text-transform: uppercase;
  margin-bottom: 50px;
}
.contact-form {
  @include flexColumn;
  align-items: center;
  @include font($ptSansFontFamily, rem(18px), 400);
  font-style: italic;
  color: $white;
  &__button {
    @include font($proximaNovaFontFamily, rem(20px), 400);
    text-transform: uppercase;
    color: $white;
    padding: 20px 80px;
    background-color: $teamMemberColor;
    border-radius: 5px;
    box-shadow: 0px 5px 2px 0px rgba(96, 95, 112, 0.94);
    margin-bottom: 30px;
    &:focus {
      @include font($proximaNovaFontFamily, rem(20px), 400);
      text-transform: uppercase;
      color: $white;
      padding: 20px 80px;
      background-color: $teamMemberColor;
      border-radius: 5px;
      box-shadow: 0px 5px 2px 0px rgba(96, 95, 112, 0.94);
      margin-bottom: 30px;
    }
  }
}
.contact-form input {
  opacity: 0.5;
  padding: 20px 25px;
  background-color: lightgrey;
  border-radius: 5px;
  width: 300px;
  margin-bottom: 30px;
}
.contact-form input:focus {
  @include font($ptSansFontFamily, rem(18px), 400);
  font-style: italic;
  color: $white;
}
.contact-form input::placeholder {
  @include font($ptSansFontFamily, rem(18px), 400);
  font-style: italic;
  color: $white;
}
.contact-form textarea {
  opacity: 0.5;
  padding: 20px 25px;
  background-color: lightgrey;
  border-radius: 5px;
  width: 300px;
  margin-bottom: 30px;
}
.contact-form textarea:focus {
  @include font($ptSansFontFamily, rem(18px), 400);
  font-style: italic;
  color: $white;
}
.contact-form textarea::placeholder {
  @include font($ptSansFontFamily, rem(18px), 400);
  font-style: italic;
  color: $white;
}

.slider-img {
  max-width: 730px;
  height: 550px;
}
