// ======= about =========
.fluid-container_about {
  display: grid;
  grid-template-columns: auto, 1fr;
}
.about-left {
  grid-column: 1;
}
.about-right {
  grid-column: 2;
}

.about-title {
  margin: 0 30px;
}

// ====== works =====

.slider-img {
  max-width: 730px;
  height: 550px;
}

// ======= services =====
.service-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr, auto, auto;
}
.our-services {
  grid-column: 1 / span 2;
}

.service-box section:nth-of-type(4) {
  background: $mainBgColor;
}
.service-box section:nth-of-type(5) {
  background: $boxItem1Color;
}
