//fonts
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap");
@import "../../fonts/proximaNova.scss";
$baseFontSize: 16px;
$h1FontSize: 70px;
$h2FontSize: 36px;
$h3FontSize: 24px;
$proximaNovaFontFamily: "ProximaNova";
$ptSansFontFamily: "PT Sans", sans-serif;

$mobilePadding: (12px / $baseFontSize) * 1rem;
$desktopPadding: 1rem;

// Paths

$imgPath: "../i/";

// Colors
$black: #000000;
$white: #ffffff;
$mobileMenuOverlay: #ac9ece;
$menuLinkHover: #656468;
$textColor: #665f60;
$mainBgColor: #ebebeb;
$textLightColor: #fefcfd;
$boxItem1Color: #dbdbdb;
$teamMemberColor: #9f9acf;
$infoOnHoverBgColor: #dad8e3;
