/** ------------------------------------------------
 * Desktop menu.
 * ------------------------------------------------------- */

.fluid-container {
  &_header {
    height: 1070px;
  }
  &_about {
    padding: 100px;
  }
  &_works {
    padding-left: 80px;
    padding-right: 80px;
  }
}

.navbar li:hover > a {
  color: $menuLinkHover;
  text-decoration: underline;
}

.menu {
  display: block;
}
.menu-desktop {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-desktop__item {
  position: relative;
  display: inline-block;
}

.menu-desktop__link {
  display: inline-block;
  padding: 2rem 1rem;
  @include font($proximaNovaFontFamily, $h3FontSize, 700);
  text-transform: uppercase;
}

.menu-button {
  display: none;
}
.overlay-navigation {
  display: none;
}

.header-content {
  color: $white;
  text-align: center;
  &__title {
    margin-top: 300px;
    font-size: $h1FontSize;
  }
  &__description {
    font-size: $h3FontSize;
  }
}

.about-left {
  margin-right: 100px;
  height: 558px;
  width: 380px;
}
.service-box {
  padding-left: 100px;
  padding-right: 100px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.our-services {
  grid-column: 3;
  grid-row: 1 / span 2;
  height: 100%;
}
#services {
  background-color: $mainBgColor;
}

.team-slider {
  max-width: 1100px;
}

.address-box {
  display: flex;
  position: absolute;
  right: 0;
  top: 220px;
}
.address-icon {
  padding: 34px 26px;
  background-color: $teamMemberColor;
}
.address-text {
  display: none;
  background-color: $infoOnHoverBgColor;
  margin: 0;
  width: 258px;
  padding: 20px 40px;
  @include font($ptSansFontFamily, rem(18px), 400);
  color: $textColor;
}
.address-box:hover {
  cursor: pointer;
}
.address-box:hover .address-text {
  display: block;
}

.phone-box {
  display: flex;
  position: absolute;
  right: 0;
  top: 328px;
}
.phone-icon {
  padding: 25px;
  background-color: $teamMemberColor;
}
.phone-number {
  display: none;
  background-color: $infoOnHoverBgColor;
  margin: 0;
  width: 258px;
  padding: 20px 40px;
  align-items: center;
  @include font($ptSansFontFamily, rem(18px), 400);
  color: $textColor;
}
.phone-box:hover {
  cursor: pointer;
}
.phone-box:hover .phone-number {
  display: block;
}
