/** ------------------------------------------------
 * Desktop menu.
 * ------------------------------------------------------- */

.navbar li:hover > a {
  color: $menuLinkHover;
  text-decoration: underline;
}

.menu {
  display: block;
}
.menu-desktop {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-desktop__item {
  position: relative;
  display: inline-block;
}

.menu-desktop__link {
  display: inline-block;
  padding: 2rem 1rem;
  @include font($proximaNovaFontFamily, $h3FontSize, 700);
  text-transform: uppercase;
}

.menu-button {
  display: none;
}
.overlay-navigation {
  display: none;
}

.address-box {
  display: flex;
  position: absolute;
  right: 0;
  top: 220px;
}
.address-icon {
  padding: 34px 26px;
  background-color: $teamMemberColor;
}
.address-text {
  display: none;
  background-color: $infoOnHoverBgColor;
  margin: 0;
  width: 258px;
  padding: 20px 40px;
  @include font($ptSansFontFamily, rem(18px), 400);
  color: $textColor;
}
.address-box:hover {
  cursor: pointer;
}
.address-box:hover .address-text {
  display: block;
}

.phone-box {
  display: flex;
  position: absolute;
  right: 0;
  top: 328px;
}
.phone-icon {
  padding: 25px;
  background-color: $teamMemberColor;
}
.phone-number {
  display: none;
  background-color: $infoOnHoverBgColor;
  margin: 0;
  width: 258px;
  padding: 20px 40px;
  align-items: center;
  @include font($ptSansFontFamily, rem(18px), 400);
  color: $textColor;
}
.phone-box:hover {
  cursor: pointer;
}
.phone-box:hover .phone-number {
  display: block;
}

.team-slider {
  max-width: 1100px;
}
